<!doctype html>
<title>Container info</title>
{% for key, value in container_info.items() %}
  {{key}}:<br>{{value['interface']}}<br>{{value['rule']}}
  <form action="/set_container_rule" method="post">
    <b>rate</b>: <input type="number" name="rate">Mbit
    <b>burst</b>: <input type="number" name="burst" >kb
    <b>latency</b>: <input type="number" name="latency" >ms
    <input type="hidden" name="container_id" value={{key}}>
    <input type="hidden" name="interface" value={{value['interface']}}>
    <br>
    <input type="submit" value="set" >
  </form>
  <form action="/reset_container_rule" method="post">
    <input type="hidden" name="interface" value={{value['interface']}}>
    <button type="submit">reset</button>
  </form>
<br>
{% endfor %}

<style>
  input[type="number"] {width: 80px;}
</style>